<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @sites.each do |site| %>
      <tr>
        <td><%= site.name %></td>
        <td><%= site.url %></td>
        <td><%= site.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>